
.body2{
    position: absolute;
   
    left: 450px;
}
.happy{
    background-color: orange;
    font-size: 50px;
}
.i{
    font-size: 50px;
    background-color:white;
}
.d{
    font-size: 50px;
    background-color: green;
}
.box{
    height: 100vh;
    width:100%;
    background-image: url(./image/sky.jpg);
   position:relative;
   background-size: cover;
 background-position: center;
 overflow-x: hidden;
   
   
}
.sun{
    top: 50px;
    right: 0px;
    transform: translateX(-270px);
    position: absolute;
    z-index: 2;
    width: -126px;
    height: -28px;
    animation: sun 5s linear infinite;
    }
    .sun img{
        height: 100px;
        position: absolute;
    }
    @keyframes sun {
        100%{
            transform: translateX(-340px);
        }
    }
.road{
    height: 300px;
    width: 500%;
    background-image: url(./image/road.jpg);
    position: absolute;
    bottom:0px;
    z-index: -1px;
    display: block;
    background-repeat: repeat-x;
 animation: rod 5s linear infinite;

}
@keyframes rod {
    100%{
        transform: translateX(-340px);
    }
}

.city{
    background-image: url(./image/city.png);
    height: 250px;
    width: 500%;
    position: absolute;
    background-repeat: repeat-X;
    animation: city 5s linear infinite;
    bottom: 300px;
    left: 0px;
    right: 0px;
    z-index: 1;
}
@keyframes city {
    100%{
        transform: translateX(-340px);
    }
    
}
.flag{
    height: 213px;
    width: 194px;
    position: absolute;
    z-index: 2;
    bottom: 249px;
    right: 485px;
}
.car{
    width: 700px;
    left: 30%;
    position: absolute;
    transform: translateX(-50px);
    bottom: 100px;
    z-index:2;
}
.car img{
    width: 100%;
    animation:  car 1s linear infinite;

}
@keyframes car {
    0%{
        transform: translateX(-3px);
    }
    50%{
        transform: translateX(-3px);
    }
    100%{
        transform: translateX(-3px);
    }
}
.wheel{
    left: 30%;
    bottom: 250px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}
.wheel img{
    width: 130px;
    height:130px;
    animation: wheel 1s linear infinite;
}
.wheel1{
    left: -4px;
    position: absolute;
}
.wheel2{
    left: 450px;
    position: absolute;
}
@keyframes wheel {
    100% {
        transform: rotate(360deg);
    }

}
body{
    background-color: yellow;
}
/* index1 */
.box1{
    
    display:flex;
    justify-content: center;
   
   
}
.main1{
    height: 100px;
    width: 100px;
    background-color: aqua;
    animation-name:box1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 15px;
    animation-direction: alternate;
   
}
@keyframes box1 {
    0% {
    transform:skew(-30deg)
    }
    100% {
        transform:skew(30deg)
    }
}
.box2{
    display: flex;
    justify-content: center;
}

.main2{
    height: 100px;
    width: 100px;
    background-color:blueviolet;
    animation-name:box2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    margin: 15px; 
    animation-direction: alternate-reverse;
}

@keyframes box2 {
    0% {
    transform:skewX(-20deg)
    }
    100% {
        transform:skewY(20deg)
    }
}
.box3{
    display: flex;
    justify-content: center;
}
.main3{
    height: 100px;
    width: 100px;
    background-color:red;
    animation-name:box3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 15px; 
    animation-direction:normal;
}

@keyframes box3 {
   100% {
    transform:rotate(0.60turn)
    }
   
}
.box4{
    display: flex;
    justify-content: center;
}
.main4{
    height: 100px;
    width: 100px;
    background-color:royalblue;
    animation-name:box4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 15px; 
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes box4 {
    0% {
        height: 100px;
        transform:scaleY(-1)
        
        }
       
   100% {
    min-height: 100px;
    transform:scale(1)
    }
   
}
.box5{
    display: flex;
    justify-content: center;}

.main5{
    height: 100px;
    width: 100px;
    background-color:blue;
    animation-name:box5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 15px; 
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes box5 {
    0% {
        height: 100px;
        transform:scaleX(-1)
        
        }
       
   100% {
    min-height: 100px;
    transform:scale(1)
    }
   
}
.main6{
    height: 100px;
    width: 100px;
    background-color:green;
    animation-name:box6;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 15px; 
    animation-direction: alternate;
   
}

@keyframes box6 {
   100% {
       
        transform:rotate(-0.40turn)
        
        }
}
.text{
    display: flex;
    justify-content: center;
}
span{
    font-size: 30px;
}
/* index2 */
.center{
    justify-content: center;
    display: flex;
    flex-flow: column;
    align-content: center;
    margin-left: 500px;
    
}
.div{
width:150px;
height:150px;
background-color: aquamarine;
margin: 20px;
transition: width 2s,height 3s;
margin:50px;
}
.linear:hover {
    
    width: 500px;
   
    
}
.ease:hover {
    transition-timing-function: ease;
    width: 200px;
    height: 300px;

   
}
.easein:hover {
    transition-timing-function: ease-in;
    width: 500px;
}
.easeout:hover {
    transition-timing-function: ease-out;
    width: 500px;
}
.easeinout:hover {
    transition-timing-function: ease-in-out;
    width: 500px;
}
.no5{
    width:150px;
    height:150px;
    background-color: aquamarine;
    margin: 20px;
    transition: width 5s;
    margin:50px;

}
.easeno5{
    transition-timing-function: ease-in;
   
   }
  .easeno5:hover {
    width: 500px;

   }
   
.easeno6{
    transition-timing-function: ease;
   
   }
  .easeno6:hover {
    width: 500px;

   }
   span{
    font-size: 50px;
   }
