body{
    background-color: yellow;
}
/* index1 */
.box1{
    
    display:flex;
    justify-content: center;
   
   
}
.main1{
    height: 100px;
    width: 100px;
    background-color: aqua;
    animation-name:box1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 15px;
    animation-direction: alternate;
   
}
@keyframes box1 {
    0% {
    transform:skew(-30deg)
    }
    100% {
        transform:skew(30deg)
    }
}
.box2{
    display: flex;
    justify-content: center;
}

.main2{
    height: 100px;
    width: 100px;
    background-color:blueviolet;
    animation-name:box2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    margin: 15px; 
    animation-direction: alternate-reverse;
}

@keyframes box2 {
    0% {
    transform:skewX(-20deg)
    }
    100% {
        transform:skewY(20deg)
    }
}
.box3{
    display: flex;
    justify-content: center;
}
.main3{
    height: 100px;
    width: 100px;
    background-color:red;
    animation-name:box3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 15px; 
    animation-direction:normal;
}

@keyframes box3 {
   100% {
    transform:rotate(0.60turn)
    }
   
}
.box4{
    display: flex;
    justify-content: center;
}
.main4{
    height: 100px;
    width: 100px;
    background-color:royalblue;
    animation-name:box4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 15px; 
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes box4 {
    0% {
        height: 100px;
        transform:scaleY(-1)
        
        }
       
   100% {
    min-height: 100px;
    transform:scale(1)
    }
   
}
.box5{
    display: flex;
    justify-content: center;}

.main5{
    height: 100px;
    width: 100px;
    background-color:blue;
    animation-name:box5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 15px; 
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes box5 {
    0% {
        height: 100px;
        transform:scaleX(-1)
        
        }
       
   100% {
    min-height: 100px;
    transform:scale(1)
    }
   
}
.main6{
    height: 100px;
    width: 100px;
    background-color:green;
    animation-name:box6;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 15px; 
    animation-direction: alternate;
   
}

@keyframes box6 {
   100% {
       
        transform:rotate(-0.40turn)
        
        }
}
.text{
    display: flex;
    justify-content: center;
}
span{
    font-size: 30px;
}
/* index2 */
.center{
    justify-content: center;
    display: flex;
    flex-flow: column;
    align-content: center;
    margin-left: 500px;
    
}
.div{
width:150px;
height:150px;
background-color: aquamarine;
margin: 20px;
transition: width 2s,height 3s;
margin:50px;
}
.linear:hover {
    
    width: 500px;
   
    
}
.ease:hover {
    transition-timing-function: ease;
    width: 200px;
    height: 300px;

   
}
.easein:hover {
    transition-timing-function: ease-in;
    width: 500px;
}
.easeout:hover {
    transition-timing-function: ease-out;
    width: 500px;
}
.easeinout:hover {
    transition-timing-function: ease-in-out;
    width: 500px;
}
.no5{
    width:150px;
    height:150px;
    background-color: aquamarine;
    margin: 20px;
    transition: width 5s;
    margin:50px;

}
.easeno5{
    transition-timing-function: ease-in;
   
   }
  .easeno5:hover {
    width: 500px;

   }
   
.easeno6{
    transition-timing-function: ease;
   
   }
  .easeno6:hover {
    width: 500px;

   }


