body{
    background-color: darkslategray;
    height: 1000px;
}
.box1{
    display: flex;
    justify-content: center;         
}
.head2{
border:10px solid brown;
 border-radius: 10px;
 width: 250px; 
 text-align: center;
 background-color:white ;
 box-shadow: 2px 3px blueviolet;
 color: darkmagenta;
 text-shadow: 2px 0px 2px rosybrown;
 margin-left: 0px;
 margin-top: 0px;
}
.box2{
    border: 10px solid green; 
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    position: relative;
    height: 500px;
    width: 100%;
   
    
}
.body1{
    border:10px solid brown;
    border-radius: 20px;
    width: 250px; 
    background-color:white ;
    font-size: 20px;
    text-align: center;
    color:darkblue;
    text-shadow:2px 1px 1px blue ;
    box-shadow: 2px 3px blueviolet;
   position:absolute;
   top: 0px;
   left: 0px;
   height: 200px;
   width: 200px;
   
}
   
    .body2{
        border:10px solid brown;
        border-radius: 20px;
       background-image: url(./image/veg.jpg);
        box-shadow: 2px 3px blueviolet;
       top: 0px;
       right: 0px;
       background-repeat:no-repeat ;
     background-size: contain;
     background-color: white;
     background-position: center;
     width: 200px;
     height: 200px;
     position: absolute;
     margin-right: 50px;

    }
    .body3{
        border:10px solid brown;
        border-radius: 20px;
         height: 200px;
         width: 200px;
        text-align: center;
        background-color:white ;
        font-size: 20px;
        color:darkblue;
        text-shadow:1px 1px blue ;
        box-shadow: 2px 3px blueviolet;
       position:absolute;
       left: 0px;
       bottom: 0px;
    }
    .body4{
        border:10px solid brown;
        border-radius: 20px;
        text-align: center;
        background-color:white ;
        font-size: 20px;
        color:darkblue;
        text-shadow:1px 1px blue ;
        box-shadow: 2px 3px blueviolet;
       position:absolute;
       right: 0px;
       bottom: 0px;
       margin-right: 50px;
    }
    ::placeholder{
        text-align: center;
    }
    .button{
        background-color: red;
        border: 1px solid black;
        border-radius:10px;
    }
    
.box3{
    position:fixed;
    bottom:50px; left:500px;
    background-color: lime;
    border: 5px solid red;
    border-radius: 10px;
    width: 330px;
    height: 50px;
    box-shadow: 5px 5px purple;
    text-align: center;
    color:brown;
    font-style: italic;
    padding-top:5px;
    font-weight: bold;
}
.box4{
    border: 8px solid rebeccapurple;
    background-color: green;
    position: relative;
    top: 500px;
    text-align: center; 
    height:360px; 
    right:75px;
    margin-top: 20px;
}
.text{
    text-align: center;
    left: 30px;
}
.footer1{
 text-align: center;
background-color: blanchedalmond;
width:580px;
height:max-content;
float:left;
padding-bottom:15px;
margin-bottom: 20px;
padding-top: 2px;
font-style: italic;
}
.footer2{
     text-align: center;
     background-color: blanchedalmond;
     width:580px;
     height:max-content; 
     float: right;
     padding-bottom: 15px;
     margin-bottom: 20px;
     font-style: italic;
     padding-top: 2px;
     
    
}
.footer3{
    margin-bottom: 200px;
    background-color:blanchedalmond;
    text-align: center;
    clear: both;
    font-style: italic;
}