
body{
   background-image: url(./image/R.jpeg) ;
   background-size: cover;
   margin: 0px;
   border:10px green solid;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    position:relative;
}
.top1{
    background-color:black;
    color: white;
    border: 5px red solid;
    border-radius: 50px; 
    height:max-content;
    width:400px;
    text-align: center;
     margin-bottom: 50px; 
    font-style: italic;
    
    
}
.top2{
    background-color: black;
    color: white;
    justify-items:flex-end; 
    border: 5px red solid;
   border-radius: 50px;
    height:max-content;
    width: 500px;
    text-align: center;
    left:100px;
    position:absolute;
    margin-bottom: 100px;
    

}
.top3{
    background-color:black;
    color: white;
   border: 10px red solid;
   border-radius:50px;
    height:max-content;
    width: 300px;
    text-align: center;
    
    
}
.round{
    align-items: center;
    text-align: center;
    justify-content: start;
    left: 50px;
    position:relative;
   
    
  
    
}
#circle-text {
    font-size: 18px;
    font-weight: bolder;
    padding: 70px 0px;
    background-color:rgb(8, 161, 128);
    border: 5px solid grey;
    border-radius: 50%;
    width: 350px;
    height: 200px;
}
  
.circle{
   
    text-align:center;
    width:250px;
    height:250px;
    text-decoration: underline;
   left:50px;
   position: absolute;
   top:100px;
   font-style: italic;
  
   
   
}

.form{
    border: 5px dashed red;
    text-align:center;
    height: max-content;
    width: 300px;
    color: red;
    left: 300px;
    margin-left: 200px;
    position: relative;
      
}        

.menu{
    border: 10px solid red;
    text-align: center;
    background-color: black;
    height: 50px;
    width: 500px;
    color: white;
    border-radius: 30px;
   margin-top: 20px;
   font-size:larger;
    margin-left: 400px;
    bottom: 50px;
   
   
}
.footer{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    color: blue;   
}
.text{
    text-align: center;
}
.footer1 {
 text-align: center;
 background-color: aqua;
 border: 3px solid darkblue;
 border-radius: 20px;
 height:280px;
 width:350px;
 margin: 30px 30px;
 

}
.footer2{
    text-align: center;
    background-color: aqua;
    border: 3px solid darkblue;
    border-radius: 20px;
    height:320px;
    width:350px;
    margin: 30px 30px;  
    float:calc(both);  
}
